<div class="row">
    <div class="col-md-12">

      <div>
        <div class="row py-4">
            <div class="col-sm"><a class="text-muted float-left" routerLink="/frontend" routerLinkActive="active"><<</a></div>
            <div class="col-sm text-center"><h2>{{postsTitle}}</h2></div>
            <div class="col-sm"><button class="btn btn-primary float-right" (click)="createPost()">+</button></div>
        </div>
          <hr>
        <div class="row card-group">
            <div class="col-sm-6 py-2 d-flex align-items-stretch" *ngFor="let Post of Posts">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="float-left">{{Post.title}}</h5>
                        <small class="float-right text-muted">{{Post.created_at}}</small>
                    </div>
                    <div class="card-body h-100">
                        <p class="card-text p-4">{{Post.summary}}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <button class="btn btn-primary" (click)="viewPost(Post)">Læs mere</button>
                    </div>
                </div>
            </div>

        </div>

      </div>

    </div>
</div>